In [107]:
import pandas as pd

In [108]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\Data-Engineering-Product-Development\python_app\03_Library Systembook.csv")

In [109]:
df2 = pd.read_csv(r"C:\Users\Admin\Desktop\Data-Engineering-Product-Development\python_app\03_Library SystemCustomers.csv")

In [110]:
print(df.head())

    Id                                     Books Book checkout Book Returned  \
0  1.0                       Catcher in the Rye   "20/02/2023"    25/02/2023
1  2.0          Lord of the rings the two towers  "24/03/2023"    21/03/2023
2  3.0  Lord of the rings the return of the kind  "29/03/2023"    25/03/2023
3  4.0                                The hobbit  "02/04/2023"    25/03/2023
4  5.0                                     Dune   "02/04/2023"    25/03/2023

  Days allowed to borrow  Customer ID
0                2 weeks          1.0
1                2 weeks          2.0
2                2 weeks          3.0
3                2 weeks          4.0
4                2 weeks          5.0

In [111]:
print(df2.head())

   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
3          NaN             NaN
4          5.0  William Holden

In [112]:
df.dropna(how="all",inplace=True)

In [113]:
df.drop_duplicates(inplace=True)

In [114]:
print(df)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye   "20/02/2023"
1    2.0          Lord of the rings the two towers  "24/03/2023"
2    3.0  Lord of the rings the return of the kind  "29/03/2023"
3    4.0                                The hobbit  "02/04/2023"
4    5.0                                     Dune   "02/04/2023"
5    6.0                              Little Women  "02/04/2023"
6    7.0                                        IT  "10/04/2063"
7    8.0                                   Misery   "15/04/2023"
8    9.0                                  Catch 22  "15/04/2023"
9   10.0                              Animal Farm   "20/04/2023"
10  11.0                                      1984  "23/04/2023"
11  12.0                              Little Women  "02/04/2023"
12  13.0                              East of Eden  "30/04/2023"
13  14.0                   America Is in the Heart  "01/05/2023"
14  15.0                         Wuthering Heights  "01/05/2023"
15  16.0                                Dark Tales  "15/05/2023"
16  17.0                        The Bloody Chamber  "32/05/2023"
17  18.0                            Les Miserables  "03/06/2023"
18  19.0                                   Dracula  "10/06/2023"
19  20.0                              Frankenstein  "01/06/2023"
20  21.0                                       NaN  "01/06/2023"

   Book Returned Days allowed to borrow  Customer ID
0     25/02/2023                2 weeks          1.0
1     21/03/2023                2 weeks          2.0
2     25/03/2023                2 weeks          3.0
3     25/03/2023                2 weeks          4.0
4     25/03/2023                2 weeks          5.0
5     01/05/2023                2 weeks          1.0
6     03/04/2023                2 weeks          6.0
7     03/04/2023                2 weeks          7.0
8     16/04/2023                2 weeks          7.0
9     24/04/2023                2 weeks          2.0
10    27/04/2023                2 weeks          8.0
11    01/05/2023                2 weeks          1.0
12    05/05/2023                2 weeks          2.0
13    07/05/2023                2 weeks          3.0
14    10/05/2023                2 weeks          9.0
15    01/06/2023                2 weeks          2.0
16    04/06/2023                2 weeks          3.0
17    07/06/2023                2 weeks          5.0
18    10/07/2023                2 weeks         10.0
19    20/06/2023                2 weeks          2.0
20    05/06/2023                2 weeks          NaN

In [115]:
df2.dropna(how="all",inplace=True)

In [116]:
df2.dropna(subset=["Customer ID","Customer Name"], inplace=True)

In [117]:
df2.drop_duplicates(inplace=True)

In [118]:
print(df2.head())

   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
4          5.0  William Holden
5          6.0   Jaztyn Forest

In [119]:
df.reset_index(drop=True, inplace=True)

In [120]:
df2.reset_index(drop=True, inplace=True)

In [121]:
print(df)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye   "20/02/2023"
1    2.0          Lord of the rings the two towers  "24/03/2023"
2    3.0  Lord of the rings the return of the kind  "29/03/2023"
3    4.0                                The hobbit  "02/04/2023"
4    5.0                                     Dune   "02/04/2023"
5    6.0                              Little Women  "02/04/2023"
6    7.0                                        IT  "10/04/2063"
7    8.0                                   Misery   "15/04/2023"
8    9.0                                  Catch 22  "15/04/2023"
9   10.0                              Animal Farm   "20/04/2023"
10  11.0                                      1984  "23/04/2023"
11  12.0                              Little Women  "02/04/2023"
12  13.0                              East of Eden  "30/04/2023"
13  14.0                   America Is in the Heart  "01/05/2023"
14  15.0                         Wuthering Heights  "01/05/2023"
15  16.0                                Dark Tales  "15/05/2023"
16  17.0                        The Bloody Chamber  "32/05/2023"
17  18.0                            Les Miserables  "03/06/2023"
18  19.0                                   Dracula  "10/06/2023"
19  20.0                              Frankenstein  "01/06/2023"
20  21.0                                       NaN  "01/06/2023"

   Book Returned Days allowed to borrow  Customer ID
0     25/02/2023                2 weeks          1.0
1     21/03/2023                2 weeks          2.0
2     25/03/2023                2 weeks          3.0
3     25/03/2023                2 weeks          4.0
4     25/03/2023                2 weeks          5.0
5     01/05/2023                2 weeks          1.0
6     03/04/2023                2 weeks          6.0
7     03/04/2023                2 weeks          7.0
8     16/04/2023                2 weeks          7.0
9     24/04/2023                2 weeks          2.0
10    27/04/2023                2 weeks          8.0
11    01/05/2023                2 weeks          1.0
12    05/05/2023                2 weeks          2.0
13    07/05/2023                2 weeks          3.0
14    10/05/2023                2 weeks          9.0
15    01/06/2023                2 weeks          2.0
16    04/06/2023                2 weeks          3.0
17    07/06/2023                2 weeks          5.0
18    10/07/2023                2 weeks         10.0
19    20/06/2023                2 weeks          2.0
20    05/06/2023                2 weeks          NaN

In [122]:
df.dropna(subset=["Books"], inplace=True)

In [123]:
print(df)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye   "20/02/2023"
1    2.0          Lord of the rings the two towers  "24/03/2023"
2    3.0  Lord of the rings the return of the kind  "29/03/2023"
3    4.0                                The hobbit  "02/04/2023"
4    5.0                                     Dune   "02/04/2023"
5    6.0                              Little Women  "02/04/2023"
6    7.0                                        IT  "10/04/2063"
7    8.0                                   Misery   "15/04/2023"
8    9.0                                  Catch 22  "15/04/2023"
9   10.0                              Animal Farm   "20/04/2023"
10  11.0                                      1984  "23/04/2023"
11  12.0                              Little Women  "02/04/2023"
12  13.0                              East of Eden  "30/04/2023"
13  14.0                   America Is in the Heart  "01/05/2023"
14  15.0                         Wuthering Heights  "01/05/2023"
15  16.0                                Dark Tales  "15/05/2023"
16  17.0                        The Bloody Chamber  "32/05/2023"
17  18.0                            Les Miserables  "03/06/2023"
18  19.0                                   Dracula  "10/06/2023"
19  20.0                              Frankenstein  "01/06/2023"

   Book Returned Days allowed to borrow  Customer ID
0     25/02/2023                2 weeks          1.0
1     21/03/2023                2 weeks          2.0
2     25/03/2023                2 weeks          3.0
3     25/03/2023                2 weeks          4.0
4     25/03/2023                2 weeks          5.0
5     01/05/2023                2 weeks          1.0
6     03/04/2023                2 weeks          6.0
7     03/04/2023                2 weeks          7.0
8     16/04/2023                2 weeks          7.0
9     24/04/2023                2 weeks          2.0
10    27/04/2023                2 weeks          8.0
11    01/05/2023                2 weeks          1.0
12    05/05/2023                2 weeks          2.0
13    07/05/2023                2 weeks          3.0
14    10/05/2023                2 weeks          9.0
15    01/06/2023                2 weeks          2.0
16    04/06/2023                2 weeks          3.0
17    07/06/2023                2 weeks          5.0
18    10/07/2023                2 weeks         10.0
19    20/06/2023                2 weeks          2.0

In [124]:
print(df["Book checkout"].dtype)

object

In [125]:
print(df["Book Returned"].dtype)

object

In [126]:
print(df["Book checkout"].dtype)

object

In [131]:
df["Book checkout"] = df["Book checkout"].str.strip('"')

In [128]:
print(df)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye     20/02/2023
1    2.0          Lord of the rings the two towers    24/03/2023
2    3.0  Lord of the rings the return of the kind    29/03/2023
3    4.0                                The hobbit    02/04/2023
4    5.0                                     Dune     02/04/2023
5    6.0                              Little Women    02/04/2023
6    7.0                                        IT    10/04/2063
7    8.0                                   Misery     15/04/2023
8    9.0                                  Catch 22    15/04/2023
9   10.0                              Animal Farm     20/04/2023
10  11.0                                      1984    23/04/2023
11  12.0                              Little Women    02/04/2023
12  13.0                              East of Eden    30/04/2023
13  14.0                   America Is in the Heart    01/05/2023
14  15.0                         Wuthering Heights    01/05/2023
15  16.0                                Dark Tales    15/05/2023
16  17.0                        The Bloody Chamber    32/05/2023
17  18.0                            Les Miserables    03/06/2023
18  19.0                                   Dracula    10/06/2023
19  20.0                              Frankenstein    01/06/2023

   Book Returned Days allowed to borrow  Customer ID
0     25/02/2023                2 weeks          1.0
1     21/03/2023                2 weeks          2.0
2     25/03/2023                2 weeks          3.0
3     25/03/2023                2 weeks          4.0
4     25/03/2023                2 weeks          5.0
5     01/05/2023                2 weeks          1.0
6     03/04/2023                2 weeks          6.0
7     03/04/2023                2 weeks          7.0
8     16/04/2023                2 weeks          7.0
9     24/04/2023                2 weeks          2.0
10    27/04/2023                2 weeks          8.0
11    01/05/2023                2 weeks          1.0
12    05/05/2023                2 weeks          2.0
13    07/05/2023                2 weeks          3.0
14    10/05/2023                2 weeks          9.0
15    01/06/2023                2 weeks          2.0
16    04/06/2023                2 weeks          3.0
17    07/06/2023                2 weeks          5.0
18    10/07/2023                2 weeks         10.0
19    20/06/2023                2 weeks          2.0

In [129]:
print(df["Book checkout"].dtype)

object

In [132]:
df["Book checkout"] = pd.to_datetime(df["Book checkout"], dayfirst = True, errors='coerce')

In [133]:
print(df)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye     2023-02-20
1    2.0          Lord of the rings the two towers    2023-03-24
2    3.0  Lord of the rings the return of the kind    2023-03-29
3    4.0                                The hobbit    2023-04-02
4    5.0                                     Dune     2023-04-02
5    6.0                              Little Women    2023-04-02
6    7.0                                        IT    2063-04-10
7    8.0                                   Misery     2023-04-15
8    9.0                                  Catch 22    2023-04-15
9   10.0                              Animal Farm     2023-04-20
10  11.0                                      1984    2023-04-23
11  12.0                              Little Women    2023-04-02
12  13.0                              East of Eden    2023-04-30
13  14.0                   America Is in the Heart    2023-05-01
14  15.0                         Wuthering Heights    2023-05-01
15  16.0                                Dark Tales    2023-05-15
16  17.0                        The Bloody Chamber           NaT
17  18.0                            Les Miserables    2023-06-03
18  19.0                                   Dracula    2023-06-10
19  20.0                              Frankenstein    2023-06-01

   Book Returned Days allowed to borrow  Customer ID
0     25/02/2023                2 weeks          1.0
1     21/03/2023                2 weeks          2.0
2     25/03/2023                2 weeks          3.0
3     25/03/2023                2 weeks          4.0
4     25/03/2023                2 weeks          5.0
5     01/05/2023                2 weeks          1.0
6     03/04/2023                2 weeks          6.0
7     03/04/2023                2 weeks          7.0
8     16/04/2023                2 weeks          7.0
9     24/04/2023                2 weeks          2.0
10    27/04/2023                2 weeks          8.0
11    01/05/2023                2 weeks          1.0
12    05/05/2023                2 weeks          2.0
13    07/05/2023                2 weeks          3.0
14    10/05/2023                2 weeks          9.0
15    01/06/2023                2 weeks          2.0
16    04/06/2023                2 weeks          3.0
17    07/06/2023                2 weeks          5.0
18    10/07/2023                2 weeks         10.0
19    20/06/2023                2 weeks          2.0

In [134]:
df["Book Returned"] = pd.to_datetime(df["Book Returned"], dayfirst=True, errors='coerce')

In [135]:
print(df)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye     2023-02-20
1    2.0          Lord of the rings the two towers    2023-03-24
2    3.0  Lord of the rings the return of the kind    2023-03-29
3    4.0                                The hobbit    2023-04-02
4    5.0                                     Dune     2023-04-02
5    6.0                              Little Women    2023-04-02
6    7.0                                        IT    2063-04-10
7    8.0                                   Misery     2023-04-15
8    9.0                                  Catch 22    2023-04-15
9   10.0                              Animal Farm     2023-04-20
10  11.0                                      1984    2023-04-23
11  12.0                              Little Women    2023-04-02
12  13.0                              East of Eden    2023-04-30
13  14.0                   America Is in the Heart    2023-05-01
14  15.0                         Wuthering Heights    2023-05-01
15  16.0                                Dark Tales    2023-05-15
16  17.0                        The Bloody Chamber           NaT
17  18.0                            Les Miserables    2023-06-03
18  19.0                                   Dracula    2023-06-10
19  20.0                              Frankenstein    2023-06-01

   Book Returned Days allowed to borrow  Customer ID
0     2023-02-25                2 weeks          1.0
1     2023-03-21                2 weeks          2.0
2     2023-03-25                2 weeks          3.0
3     2023-03-25                2 weeks          4.0
4     2023-03-25                2 weeks          5.0
5     2023-05-01                2 weeks          1.0
6     2023-04-03                2 weeks          6.0
7     2023-04-03                2 weeks          7.0
8     2023-04-16                2 weeks          7.0
9     2023-04-24                2 weeks          2.0
10    2023-04-27                2 weeks          8.0
11    2023-05-01                2 weeks          1.0
12    2023-05-05                2 weeks          2.0
13    2023-05-07                2 weeks          3.0
14    2023-05-10                2 weeks          9.0
15    2023-06-01                2 weeks          2.0
16    2023-06-04                2 weeks          3.0
17    2023-06-07                2 weeks          5.0
18    2023-07-10                2 weeks         10.0
19    2023-06-20                2 weeks          2.0

In [136]:
import os

In [139]:
output_folder = r"C:\Users\Admin\Desktop\Data-Engineering-Product-Development\python_app"
file_path_1 = os.path.join(output_folder, "03_library System_Customers_Cleaned.csv")
file_path_2 = os.path.join(output_folder,"03_Library Systembook_Cleaned.csv")

df2.to_csv(file_path_1, index=False)
df.to_csv(file_path_2, index=False)

print(file_path_1)
print(file_path_2)

C:\Users\Admin\Desktop\Data-Engineering-Product-Development\python_app\03_library System_Customers_Cleaned.csv
C:\Users\Admin\Desktop\Data-Engineering-Product-Development\python_app\03_Library Systembook_Cleaned.csv

In [140]:
pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [141]:
from sqlalchemy import create_engin

ImportError: cannot import name 'create_engin' from 'sqlalchemy' (c:\ProgramData\anaconda3\Lib\site-packages\sqlalchemy\__init__.py)

In [142]:
from sqlalchemy import create_engine

In [144]:
server = "localhost"
database = "python_app"
driver = "ODBC Driver 17 for SQL Server"

connection_string = f"mssql+pyodbc://@{server}/{database}?driver={driver}"
engine = create_engine(connection_string)

In [ ]:
import pandas as pd

df_customers = pd.read_csv(r"C:\Users\Admin\Desktop\Data-Engineering-Product-Development\python_app\03_library System_Customers_Cleaned.csv")
df_books = pd.read_csv(r"C:\Users\Admin\Desktop\Data-Engineering-Product-Development\python_app\03_Library Systembook_Cleaned.csv")

In [148]:
df_customers.to_sql('LibraryCustomers', con=engine, if_exists='replace', index=False)
df_books.to_sql("libraryBooks", con=engine, if_exists='replace', index=False)

20